services:
  keycloak:
    image: quay.io/keycloak/keycloak:21.1.1
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
    volumes:
      - ./keycloak/realm.json:/opt/keycloak/data/import/realm.json
    command: start-dev --import-realm
    ports:
      - "8080:8080"
    networks:
      - app-network
    
  backend:
    build:
      context: ./src/backend
      dockerfile: Dockerfile 
    ports:
      - "3002:3002"
    environment:
      KEYCLOAK_URL: http://keycloak:8080
      KEYCLOAK_JWKS_URI: ${KEYCLOAK_JWKS_URI}
      BACKEND_PORT: ${BACKEND_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}

    depends_on:
      - keycloak
      - db
    networks:
      - app-network

  frontend:
    build:
      context: ./src/frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      REACT_APP_BACKEND_URL: http://localhost:${BACKEND_PORT}
      REACT_APP_KEYCLOAK_URL: http://localhost:8080
    depends_on:
      - keycloak
    networks:
      - app-network

  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: document
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    networks:
      - app-network
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d

  python:
    build: ./python_app
    depends_on:
      - db
    volumes:
      - ./python_app:/app
    working_dir: /app
    environment:
      - PYTHONUNBUFFERED=1
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}

networks:
  app-network:
    driver: bridge

volumes:
  pgdata:
